.filho button {
  margin-top: 2rem;

  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  box-shadow: 3px 1px 20px black;
}
